*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.big_background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(72,129,75);
    background: linear-gradient(180deg, rgba(72,129,75,1) 10%, rgb(189, 189, 189) 10%); 
}

.app_container {
    
    align-items: center;
    width: 75%;
    height: 850px;
}


.bur {
    background-color: burlywood;
    height: 850px;
}

.crm {
    background-color: crimson;
    height: 850px;
}

.nome_utente {
    background-color: darkgrey;
    height: 50px;
    padding: 0;
}