*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.big_background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(72,129,75);
    background: linear-gradient(180deg, rgba(72,129,75,1) 10%, rgb(189, 189, 189) 10%); 
}

.app_container {
    
    align-items: center;
    background-color: azure;
    width: 75%;
    height: 95%;
}