*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.green {
    background-color: chartreuse;
}
.blue {
    background-color: rgb(100, 100, 167);
}
.crm {
    background-color: hotpink;
}
.vl {
    border-left: 2px solid rgb(193, 193, 193);
    height: 70px;
    position: absolute;
    left: 97%;
    margin-left: 10px;
    top: 0px; 
    }
i   {
    height:40px;
    padding-left: 13px;
    font-size: 1.7em;
    color:rgb(172, 172, 172);
    }
.big_background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(72,129,75);
    background: linear-gradient(180deg, rgba(72,129,75,1) 10%, rgb(189, 189, 189) 10%); 
}
.greybar {
    position: relative;
    background-color: rgb(219, 219, 219);
    height:70px;
    width:90vw;
}
.user-space, .friend-space {
    padding:10px;
}
.user-space img, .friend-space img{
    height:50px;
}

.nome-utente{
    font-size: 1em;
    font-weight: bold;
    padding-left: 6px;
}
.text-space{
    height:600px;
    background-color: rgb(236, 236, 236);
}

.list-space{
    height: 600px;
    background-color: rgb(209, 209, 209);
}

.avatar {
    width: 50px;
}
.input-wrapper {
    padding:5px;
    background-color: rgb(97, 173, 218);
}
.chat-wrapper {
    border-radius: 10px;
}
.sent{
    float: right;
    padding: 10px;
    background-color: rgb(247, 255, 217);
}
.received{
    float: left;
    padding: 10px;
    background-color:rgb(165, 224, 165);
}